{% extends 'base.html' %}


{% block body %}
<div class="container">
<h1>Welcome to the Login page</h1>
<p>
	You Can log in here!!!
</p>
<h2>Login</h2>
<form method="post">
	{% csrf_token %}
	{{  form.as_p }}
	<button type="submit">Login</button>
	<p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
<!--   <p><strong>-- OR --</strong></p>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br> -->
</form>
</div>

{% endblock %}
